/* ==========================================================================
   Defaults
   ========================================================================== */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.4;
}

button,
html,
input,
select,
textarea {
  font-family: $tidal-font-family;
  font-size: 100%;
}

/* Forms
   ========================================================================== */

input,
textarea {
  background: $tidal-white;
  border: thin solid $tidal-gray;
  border-radius: $tidal-border-radius;
  font-size: 100%;
  line-height: inherit;
  padding: .5em .75em;

  @media #{$tidal-mq-small} {
    padding: .25em .5em;
  }
}
